@font-face {
    font-family: beau;
    src: url('../font/beau.ttf');
}
@font-face {
    font-family: dancing;
    src: url('../font/dancing.ttf');
}
@font-face {
    font-family: grape;
    src: url('../font/grape.ttf');
}
@font-face {
    font-family: indie;
    src: url('../font/indie.ttf');
}
@font-face {
    font-family: mangal;
    src: url('../font/mangal.ttf');
}
@font-face {
    font-family: segoeui;
    src: url('../font/segoeui.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.label{
    color: rgb(255 163 67);
}
.nowrap{
    white-space: nowrap;
}
#smsinfo{
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.imageextwarn{
    display: block !important;
}
